.navDistribucion {
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.carrito {
  display: flex;
}
.logo {
  height: 2.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
}
nav {
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.xk {
  display: flex;
  list-style: none;
}
